@use "../../sass/variables.scss" as *;
@use "../../sass/mixins.scss" as *;

:host {
  @include flex(column, 2rem, unset, unset);
  padding: 2rem 2rem 2rem 2.5rem;
  max-height: 100%;
  overflow: hidden;
  background-color: $color-background--light;
}

.filter-container {
  height: 3.5rem;
  @include flex(row, 1.5rem, unset, unset);
  margin-left: auto;
  padding-right: 0.5rem;

  .input-container {
    position: relative;

    input {
      width: max(16rem, 100%);
      padding: 0.7rem 1rem 0.7rem 3.5rem;
    }

    ion-icon {
      position: absolute;
      left: 1rem;
      top: 0;
      transform: translateY(50%);
    }
  }
}

.recipe-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-height: 100%;
  padding-right: 0.5rem;
  overflow-y: auto;
}
