<form [formGroup]="filterForm" class="filter-container">
  <div class="input-with-icon-container">
    <input formControlName="search" type="text" placeholder="Szukaj..." />
    <ion-icon name="search-outline"></ion-icon>
  </div>

  <select formControlName="select">
    <option *ngFor="let option of sortOptions" [value]="option.value">{{ option.label }}</option>
  </select>
</form>

<div class="recipe-list-container">
  <app-recipe-tile [recipe]="recipe" *ngFor="let recipe of recipes"></app-recipe-tile>
</div>
