@use "variables.scss" as *;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-primary;
}

input,
button,
select,
textarea {
  border: none;
  font-family: inherit;
  color: $color-text--dark;
  background-color: $color-background--dark;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
