@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$font-primary: "Poppins", sans-serif;

$color-background--dark: #f2f2f3;
$color-background--light: #ffffff;
$color-green: #34e4b5;
$color-red: #e03a45;
$color-violet: #894ba9;
$color-text--light: #dbdfea;
$color-text--dark: #364a63;
