@use "../../sass/variables.scss" as *;
@use "../../sass/mixins.scss" as *;

:host {
  overflow-y: auto;
  height: 100%;
}

.container {
  height: 100%;
  @include flex(column, 1.5rem, unset, unset);
  padding-right: 0.5rem;
}

form {
  height: 100%;
  @include flex(column, 2rem, unset, unset);

  input,
  textarea {
    width: 100%;
  }

  textarea {
    display: block;
    height: 18rem;
    max-height: 23rem;
    min-height: 6rem;
    font-size: $font-size--xs;
    resize: vertical;
  }

  .ingredients-container {
    .ingredients-group {
      width: 100%;
      @include flex(row, 2rem, unset, unset);
      margin-top: 0.5rem;

      div:nth-of-type(2) {
        margin-left: auto;
      }
    }

    button {
      margin: 2rem auto 0 auto;
      @include flex(row, 0.5rem, center, center);
    }

    .btn-remove-ingredient {
      background-color: transparent;
      margin: 1rem 1rem 0 0;
      padding: 0;
      align-self: flex-start;

      ion-icon {
        color: $color-red;
      }
    }
  }

  .buttons-container {
    @include flex(row, 1rem, unset, flex-end);
  }
}
