@use "../../sass/variables.scss" as *;

button {
  width: 100%;
  aspect-ratio: 2/1.3;
  height: 100%;
  padding: 2rem;
  background-color: $color-background--dark;

  p {
    font-size: $font-size--default;
  }

  ion-icon {
    margin-top: 0.6rem;
  }
}
