<form>
  <div class="input-with-icon-container">
    <input type="email" placeholder="Podaj adres email" />
    <ion-icon name="person-outline"></ion-icon>
    <!-- <p *ngIf="form.controls['name'].dirty && form.controls['name'].errors?.['minlength']" class="msg--error">
      Minimum 3 znaki
    </p> -->
    <p class="msg--error">asdasdasd</p>
  </div>

  <div class="input-with-icon-container">
    <input type="password" placeholder="Podaj hasło" />
    <ion-icon name="lock-closed-outline"></ion-icon>
    <p class="msg--error">asdasdasd</p>
  </div>

  <div>
    <button class="button--success">Zaloguj się</button>
    <button class="button--success">Zarejestruj się</button>
  </div>

  <a href="#">Nie pamiętasz hasła?</a>
</form>
