@use "../../sass/variables.scss" as *;

:host {
  background-color: $color-background--dark;
  display: flex;
  align-items: flex-start;
  padding: 2rem 2rem;
  gap: 2.5rem;

  & > * {
    flex: 1;
  }
}

.container {
  background-color: $color-background--light;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .buttons-container {
    display: flex;
    gap: 0.5rem;
    height: 3.5rem;

    button {
      flex: 1;
    }
  }
}
