@use "../../sass/variables.scss" as *;
@use "../../sass/mixins.scss" as *;

:host {
  height: 90vh;
  @include flex(row, 2rem, flex-start, unset);
  background-color: $color-background--dark;
  overflow: hidden;
  padding: 2rem 2.5rem;

  & > * {
    flex: 1;
  }
}

.container {
  max-height: 100%;
  @include flex(column, 0, unset, unset);

  .buttons-container {
    padding: 2rem;
    @include flex(row, 0.5rem, unset, unset);
    background-color: $color-background--light;
    margin-bottom: 1rem;

    button {
      flex: 1;
    }
  }
}
