:host {
  overflow-y: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 4rem;
  column-gap: 8rem;
  padding-right: 0.5rem;

  .stars {
    justify-self: end;

    ion-icon {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  h2 {
    font-size: 2.8rem;
  }

  ol {
    margin-top: 1rem;
    list-style-position: inside;

    li {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 0rem;
      }
    }
  }
}
