@forward "sass/reset.scss";
@use "sass/variables.scss" as *;

:focus {
  outline: solid 2px $color-green;
}

body {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
p {
  color: $color-text--dark;
}

ion-icon {
  color: $color-text--dark;
}
