@forward "sass/reset.scss";
@use "sass/variables.scss" as *;

:focus {
  outline: solid 2px $color-violet;
  outline-offset: -2px;
}

body {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
p {
  color: $color-text--dark;
}

ion-icon {
  color: $color-text--dark;
}

ion-icon[name="star"] {
  margin-top: 0.6rem;
  margin: 0.6rem 0.5rem 0 0;
  color: $color-orange;

  &:last-of-type {
    margin-right: 0;
  }
}

.button--primary {
  transition: background-color 100ms;

  &:hover {
    background-color: $color-background--light;
    outline: solid 2px $color-violet;
  }
}
